<!Doctype html>
<!--
Author:Sita Sowjanya Gurram
Date:07/31/2016
Project:Movieflix
-->
<html>
<head>
<meta charset="UTF-8" />
<title>Moviefix-Watch TVshows and Movies</title>
<link href="homepage.css" rel="stylesheet" type="text/css" />
<link href="media_home.css" rel="stylesheet" media="screen and(max-width:500 px)"/>
<meta name="viewpoint" content="width-device-width,initial-scale=1.0,maximum-scale=1.0"/>
<marquee>
<img src="Logo4.png" alt="Logo">
</marquee>
</head>
<body>
<form action="SignIn.html" >
    <input type="submit" class="button" value="Sign in">
</form>
</body>
</html>