@media screen and (orientation:portrait)
{
body
{
background-image:url("background2.jpg");
background-size:cover;
}


.button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  text-shadow: 1px 1px 0px black;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(top,#F5F6CE,#FFFF00);
  background: -ms-linear-gradient(top,#F5F6CE,#FFFF00);
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F6CE), to(#FFFF00));
  background: -moz-linear-gradient(top,  #F5F6CE,  #FFFF00);
  display:block;
   
}
.button:hover {
 
  background: #660000;
  background: linear-gradient(top, #FFFF00,  #F5F6CE);
  background: -ms-linear-gradient(top, #FFFF00,  #F5F6CE);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#F5F6CE));
  background: -moz-linear-gradient(top,  #FFFF00,  #F5F6CE);
}

}
@media screen and (orientation:landscape)
{

body
{
background-image:url("background2.jpg");
background-size:cover;
}


.button {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  text-shadow: 1px 1px 0px black;
  padding: 10px 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(top,#F5F6CE,#FFFF00);
  background: -ms-linear-gradient(top,#F5F6CE,#FFFF00);
  background: -webkit-gradient(linear, left top, left bottom, from(#F5F6CE), to(#FFFF00));
  background: -moz-linear-gradient(top,  #F5F6CE,  #FFFF00);
  display:block;
   
}
.button:hover {
 
  background: #660000;
  background: linear-gradient(top, #FFFF00,  #F5F6CE);
  background: -ms-linear-gradient(top, #FFFF00,  #F5F6CE);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFF00), to(#F5F6CE));
  background: -moz-linear-gradient(top,  #FFFF00,  #F5F6CE);
}

}