<!Doctype html>
<!--
Author:Sita Sowjanya Gurram
Date:07/31/2016
Project:Movieflix
-->
<html>
<head>
<meta charset="UTF-8" />
<title>Moviefix-Watch TVshows and Movies</title>
<link href="Movies.css" rel="stylesheet" type="text/css" />
<link href="media_movie.css" rel="stylesheet" media="screen and(max-width:500 px)"/>
<meta name="viewpoint" content="width-device-width,initial-scale=1.0,maximum-scale=1.0"/>
<marquee>
<img src="Logo4.png" alt="Logo">
</marquee>
</head>
<body>
<div >
Movies<br>
Sort by:

<form action="#">
  <select name="Movies">
    <option value="Imdbratings">Imdbratings</option>
    <option value="Year">Year</option>
    <option value="Imdb Votes">Imdb Votes</option>
  </select>
  <input type="submit" value="Submit" class="button1">
</form>

</div>
</body>
</html>