<!Doctype html>
<!--
Author:Sita Sowjanya Gurram
Date:07/31/2016
Project:Movieflix
-->
<html>
<head>
<meta charset="UTF-8" />
<title>Moviefix-Watch TVshows and Movies</title>
<link href="signin.css" rel="stylesheet" type="text/css" />
<link href="media_signin.css" rel="stylesheet" media="screen and(max-width:500 px)"/>
<meta name="viewpoint" content="width-device-width,initial-scale=1.0,maximum-scale=1.0"/>
<marquee>
<img src="Logo4.png" alt="Logo">
</marquee>
</head>
<body>
<div>
<h3>Sing In<br></h3>
Email<br>
<input type="text" /><br>
Password<br>
<input type="password" />

<br>
<br>
<form action="Movies.html" >
    <input type="submit" class="button1" value="Login">
</form>
<br>
<br>
<a href="Signup.html">Click here to Sign up </a>
</div>

</body>
</html>