<!Doctype html>
<!--
Author:Sita Sowjanya Gurram
Date:07/31/2016
Project:Movieflix
-->
<html>
<head>
<meta charset="UTF-8" />
<title>Moviefix-Watch TVshows and Movies</title>
<link href="signup.css" rel="stylesheet" type="text/css" />
<link href="media_signup.css" rel="stylesheet" media="screen and(max-width:500 px)"/>
<meta name="viewpoint" content="width-device-width,initial-scale=1.0,maximum-scale=1.0"/>
<marquee>
<img src="Logo4.png" alt="Logo">
</marquee>
</head>
<body>
<div>
<h3> Sign Up</h3>
First Name<br>
<input type="text" /><br>
Last Name<br>
<input type="text" /><br>
Password<br>
<input type="password" />

<br>
<br>
<form action="Register.html" >
    <input type="submit" class="button1" value="Register">
</form>
</div>

</body>
</html>